body {
    background-color: powderblue;
  }
  h1 {
    color: yellow;
      text-align: center;
  }
  p {
    color: red;
      border: 2px solid powderblue;
      padding: 10px;
      margin: 10px;

      border: 2px solid rgb(226, 39, 55);

  }