body {
    
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #a5b9ce;
    
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    text-align: center;

}

.box h1 {
    font-weight: 500;
    color: white;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 3px solid #653ad9;
    padding: 14px 10px;
    width: 200px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 3px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.25s;
}
.box input[type="submit"]:hover{
    background: #315843;
}
